*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
}

.body{
    display: flex;
    justify-content:center;
    min-height: auto;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23020113' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23040127' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2307023a' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2309024e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230B0361' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 85vh;
}

