.questionListContainer {
    margin: 1em;
}

.singleAnswer {
    margin: 1em 0;
    box-shadow: .5em .5em 2em #4c4d4e;
    padding: .5em;
    border-radius: .5em;
}

.buttonAction:disabled {
    background-color: #82c1ff;
    border: 1px solid #82c1ff;
}