.Navbar-Welcome{
   height: 30px;
   background-color: white;
   border-color: black;
   border-bottom: 5px;
   display:flex;
   grid-template-columns: 7;
   font: Manrope;
   border-radius: 3px;
   box-shadow: inset;
}
.NavBar-Button{
  display: block;
  padding: 20px;
  border: 2px;
  border-color: black;
  margin-left: auto;
  margin-right: auto; 
}

.NavBar-Button-home{
  display: block;
  padding: 20px;
  border: 2px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine; 
}


.N-Logo{
  height: 100px;
  width: 100px;
}

.NavBar-img{
  height: 50px;
  width: 50px;
  padding: 15px;
}

.LP-imagen{
  height:auto;
  width: auto;
}
